{% extends "registration/form.html" %}
{% load static %}
{% block title %}
Login to Sparc
{% endblock title %}
{% block content %}
<form method="post">
    <h2>Log In to your account</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="links">
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>
    <button type="submit">Log In</button>
</form>
<script src="{% static 'scripts/login.js' %}"></script>
{% endblock content %}
