{% extends "registration/form.html" %}
{% load static %}
{% block title %}
Reset your password
{% endblock title %}
{% block content %}
{% if validlink %}
<form action="" method="POST">
    {% csrf_token %}
    <h2>set a new password</h2>
    <div class="fieldwrapper">
        <span class="material-symbols-outlined">lock</span>
        <label for="id_new_password1">new password:</label>
        {{ form.new_password1 }}
        <span class="material-symbols-outlined visibilityTrigger">visibility</span>
    </div>
    <div class="fieldwrapper">
        <span class="material-symbols-outlined">lock</span>
        <label for="id_new_password2">confirm your password:</label>
        {{ form.new_password2 }}
        <span class="material-symbols-outlined visibilityTrigger">visibility</span>
    </div>
    <button type="submit">change my password</button>
</form>
<script src="{% static 'scripts/reset_confirm.js' %}"></script>

{% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </p>

{% endif %}

{% endblock content %}
