{% extends "registration/form.html" %}
{% load static %}
{% block title %}
Reset your password
{% endblock title %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h2>Reset your password</h2>
    <p>You will be sent a password reset link via email</p>
    <div class="fieldwrapper">
        <span class="material-symbols-outlined">mail</span>
        <label for="id_email">enter your email address</label>
        {{ form.email}}
    </div>
    <div class="links">
        <p>Back to <a href="{% url 'login' %}">Log in</a></p>
    </div>
    <button type="submit">send</button>
</form>
<script src="{% static 'scripts/reset.js' %}"></script>
{% endblock content %}
